[submodule "vendors/dial-mpc"]
	path = vendors/dial-mpc
	url = https://github.com/LeCAR-Lab/dial-mpc.git
[submodule "vendors/rsl_rl"]
	path = vendors/rsl_rl
	url = https://github.com/leggedrobotics/rsl_rl.git
[submodule "vendors/unitree_rl_gym"]
	path = vendors/unitree_rl_gym
	url = https://github.com/unitreerobotics/unitree_rl_gym.git
[submodule "forked/dial-mpc"]
	path = forked/dial-mpc
	url = https://github.com/swangnice/dial-mpc.git
[submodule "forked/unitree_rl_gym"]
	path = forked/unitree_rl_gym
	url = https://github.com/swangnice/unitree_rl_gym.git
[submodule "vendors/wococo"]
	path = vendors/wococo
	url = https://github.com/LeCAR-Lab/wococo.git
[submodule "forked/wococo"]
	path = forked/wococo
	url = https://github.com/swangnice/wococo.git
[submodule "vendors/HOVER"]
	path = vendors/HOVER
	url = https://github.com/NVlabs/HOVER.git
[submodule "forked/HOVER"]
	path = forked/HOVER
	url = https://github.com/swangnice/HOVER.git
[submodule "vendors/humanoid-bench"]
	path = vendors/humanoid-bench
	url = https://github.com/carlosferrazza/humanoid-bench.git
[submodule "forked/humanoid-bench"]
	path = forked/humanoid-bench
	url = https://github.com/swangnice/humanoid-bench.git
[submodule "forked/ProtoMotions"]
	path = forked/ProtoMotions
	url = https://github.com/swangnice/ProtoMotions.git
[submodule "forked/ALMI-Open"]
	path = forked/ALMI-Open
	url = https://github.com/swangnice/ALMI-Open.git
