[submodule "vendors/dial-mpc"]
	path = vendors/dial-mpc
	url = https://github.com/LeCAR-Lab/dial-mpc.git
[submodule "vendors/rsl_rl"]
	path = vendors/rsl_rl
	url = https://github.com/leggedrobotics/rsl_rl.git
[submodule "vendors/unitree_rl_gym"]
	path = vendors/unitree_rl_gym
	url = https://github.com/unitreerobotics/unitree_rl_gym.git
[submodule "forked/dial-mpc"]
	path = forked/dial-mpc
	url = https://github.com/swangnice/dial-mpc.git
[submodule "forked/unitree_rl_gym"]
	path = forked/unitree_rl_gym
	url = https://github.com/swangnice/unitree_rl_gym.git
